<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Weasley Clock</title>
 
    
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/cerulean.css" rel="stylesheet">
    
  </head>
 {% block body %}
  <body>
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href={{ url_for('logout') }}>Sign Out</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Weasley Clock</h3>
      </div>

    <div>
  	  <h1>Welcome {{current_user.first_name}}!</h1>
      <p>This is your homepage</p>
    </div>

    <footer class="footer">
        <p>&copy; cepha-code 2017</p>
    </footer>
  </div>
  </body>

  {% endblock %}
